@import "../../global.scss";
.works {
  background-color: crimson;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  .arrow {
    height: 60px;
    position: absolute;
    cursor: pointer;

    @include mobile {
      display: none;
    }
    @include mobileLandscape {
      display: block;
    }

    &.left {
      left: 100px;
      transform: rotateY(180deg);

      @include mobileLandscape {
        left: 1%;
      }
    }

    &.right {
      right: 100px;
      @include mobileLandscape {
        right: 1%;
      }
    }
  }

  .slider {
    height: 350px;
    display: flex;
    position: absolute;
    left: 0;
    transition: all 1s ease-out;

    @include mobile {
      height: 100vh;
      flex-direction: column;
      justify-content: center;
    }

    @include mobileLandscape {
      flex-direction: row;
      height: 80vh;
    }

    .container {
      width: 100vw;
      display: flex;
      align-items: center;
      justify-content: center;

      .item {
        width: 700px;
        height: 90%;
        background-color: white;
        color: black;
        border-radius: 20px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        @include mobile {
          width: 90%;
          height: 150px;
          margin: 5px 0;
        }

        @include mobileLandscape {
          width: 80%;
        }

        .left {
          flex: 4;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;

          .leftContainer {
            width: 90%;
            height: 90%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            overflow: hidden;

            .imgContainer {
              width: 25px;
              height: 25px;
              border-radius: 50%;
              background-color: rgb(245, 179, 155);
              display: flex;
              align-items: center;
              justify-content: center;
              overflow: hidden;

              img {
                width: 25px;
              }
            }
            h2 {
              font-size: 2.8vh;
              @include mobile {
                font-size: 70%;
              }
            }
            p {
              font-size: 2.8vh;
              @include mobile {
                font-size: 55%;
              }
            }
            span {
              font-size: 3vh;
              font-weight: 500;
              text-decoration: underline;
              cursor: pointer;
              @include mobile {
                font-size: 65%;
              }
            }
          }
        }

        .right {
          flex: 8;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          overflow: hidden;
          img {
            width: 450px;
            transform: rotate(-10deg);
          }
        }
      }
    }
  }
}
