@import "../../global.scss";

.intro {
  background-color: white;
  display: flex;

  @include mobile {
    flex-direction: column;
    align-items: center;
  }
  @include mobileLandscape {
    flex-direction: row;
    align-items: stretch;
  }

  .left {
    flex: 0.5;
    overflow: hidden;
    display: flex;

    .imgContainer {
      width: 700px;
      height: 700px;
      overflow: hidden;
      background-color: crimson;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      float: right;

      @include mobile {
        align-items: flex-start;
      }

      @include mobileLandscape {
        width: 500px;
        height: 500px;
        align-items: stretch;
        justify-content: center;
      }

      img {
        height: 100%;

        @include mobile {
          height: 60%;
        }
      }
    }
  }
  .right {
    flex: 0.5;
    position: relative;

    .wrapper {
      width: 100%;
      height: 100%;
      padding-left: 50px;
      display: flex;
      flex-direction: column;
      justify-content: center;

      @include mobile {
        padding-left: 0;
        align-items: center;
      }

      h1 {
        font-size: 60px;
        margin: 10px 0;

        @include mobile {
          font-size: 35px;
        }
        @include mobileLandscape {
          font-size: 50px;
        }
      }
      h2 {
        font-size: 32px;
        @include mobileLandscape {
          font-size: 32px;
        }
      }
      h3 {
        font-size: 30px;
        @include mobile {
          font-size: 25px;
        }
        span {
          font-size: inherit;
          color: crimson;
        }
      }
    }
    a {
      position: absolute;
      bottom: 10px;
      left: 40%;

      img {
        width: 30px;
        animation: arrowBlink 2s infinite;
      }

      @keyframes arrowBlink {
        100% {
          opacity: 0;
        }
      }
    }
  }
}
